
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@font-face {
  font-family:'Oi', cursive;
  src: url('./assets/font/Oi-Regular.ttf');
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* colors
dark_blue: #0f1ba1
dark_sea_foam: #27CD77
dark_pink: #E53894
dark_green: #000600
................................
mid_blue: #5865F2
mid_yellow: #5865F2
mid_pink: #F57DBA
mid_orange: #F98F19
mid_black: #191A1C
mid_white: #0f1ba1
................................
lite_blue: #87DBFF
liter_blue:#0f1ba1
lite_white: #FFFEFF
lite_yellow: #FFF4B2
*/
.App-header {
  background-color: #0f1ba1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
